In [12]:
import pandas as pd

In [13]:
data={'Name':['John','Alice','Bob'],
      'Age':[25,28,32],
      'City':['New York','London','Paris']}

In [14]:
df=pd.DataFrame(data)

In [15]:
df.set_index('Name',inplace=True)

In [16]:
print(df)

       Age      City
Name
John    25  New York
Alice   28    London
Bob     32     Paris

#create a range index

In [17]:
df=pd.DataFrame(data,index=pd.RangeIndex(5,8,name='Index'))

In [19]:
print(df)

        Name  Age      City
Index
5       John   25  New York
6      Alice   28    London
7        Bob   32     Paris

In [21]:
df=pd.DataFrame(data)

In [22]:
print('Original DataFrame')

Original DataFrame

In [23]:
print(df)

    Name  Age      City
0   John   25  New York
1  Alice   28    London
2    Bob   32     Paris

In [24]:
print()

In [25]:
df.rename(index={0:'A',1:'B',2:'C'},inplace=True)

In [26]:
print('Modified DataFrame')

Modified DataFrame

In [27]:
print(df)

    Name  Age      City
A   John   25  New York
B  Alice   28    London
C    Bob   32     Paris

# Create Array using python using

In [28]:
data=[2,4,6,8]

In [29]:
array1=pd.array(data)

In [30]:
print(array1)

<IntegerArray>
[2, 4, 6, 8]
Length: 4, dtype: Int64

In [ ]:
data={'Name':[John','Alice',Bob'